@model ProductListViewModel

<partial name="/Views/Partials/_ProductHeader.cshtml" />

<section class="registerform " style="margin-bottom:550px">
    <div class="container mt-4 mb-4">
        <div class="form-content">
            <div class="mb-5" >ALL PRODUCTS : </div>
            <div asp-validation-summary="ModelOnly" class="error-text"></div>
            @if (Model.Products != null)
            {
                foreach (var product in Model.Products)
                {
                    var price = (product.Price).ToString("0.00");

                    <div class="d-flex justify-content-between align-items-center mb-2 ps-3 pe-1 py-1 list-row">
                        <div>
                            <span class="fw-bold">Id:</span> @product.Id ,
                            <span class="fw-bold">Name:</span> @product.Name ,
                            <span class="fw-bold">Price:</span> $@price
                            <span class="fw-bold">Description:</span> @product.Description

                            @if(product.Categories.Count > 0)
                            {
                                <span class="fw-bold">Category:</span>

                                @foreach(var category in product.Categories)
                                {
                                    @category.CategoryName.Trim();
                                    
                                    @if (category != product.Categories.Last())
                                    {
                                        <span>, </span>
                                    }
                                }                           
                            }
                        </div>
                        
                            <form method="post" novalidate>
                                <input type="hidden" asp-for="Title" value="@Model.Title" />
                                <input type="hidden" asp-for="Products" value="@Model.Products" />
                                <input type="hidden" asp-for="ProductId" value="@product.Id" />
                            <button type="submit" class="btn-theme ms-3" style="padding: 0.7rem;"><i class="fa-sharp fa-solid fa-trash"></i></button>
                           
                        </form>
                        
                        </div>
                }
            }
        </div>
    </div> 
   
</section>
